@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Red+Hat+Display:wght@900&display=swap');
.header{
    font-family: 'Comic Neue', cursive;
    color: #000000;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

/*Align the title to the center of the page*/
.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B8CAE4
}

.table tr:nth-child(even){
	background: #dae5f4
}

th {
    background-color: #337ab7;
    color: white;
}