{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>List Nabung Sampah</title>
</head>
<body>
    <div class='header'>List Setoran Nasabah</div>
        <table class='table'>
            <thead>
                <tr>
                    <th>TANGGAL</th>
                    <th>USER</th>
                    <th>NAMA SAMPAH</th>
                    <th>JENIS SAMPAH</th>
                    <th>JUMLAH SETORAN</th>
                    <th>TOTAL POIN</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            {% for x in nabung_sampah %}
            <tr>
                <td>{{x.tanggal}}</td>
                <td>{{x.user}}</td>
                <td>{{x.nama_sampah}}</td>
                <td>{{x.jenis_sampah}}</td>
                <td>{{x.jumlah_setoran}}</td>
                <td>{{x.total_poin}}</td>
                <td>{{x.status}}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>